<div class="container-fluid">
    <div class="row text-white">
        <div class="header1 float-left col ml-5 mb-n1">{{headerName}}</div>
      </div>
      <hr style="background-color: #707070; width: 1645px;">
<div class="home">

</div>